* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #9596b8;
  text-align: center;
}

header {
  padding: 10px 20px;
  margin-bottom: 30px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 20px 25px;
  border-radius: 8px;
}

.logo {
  width: 250px;
  text-align: left;
}

.logo>a {
  color: black;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 420px;
}

.amount {
  font-weight: bold;
  font-size: 20px;
}

.info button {
  outline: none;
  border: none;
  padding: 10px 15px;
  background-color: #2976db;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.info button:hover {
  background-color: #1b4a88;
}


#main {
  background-color: #5dcac06b;
  width: 96.5vw;
  margin: 0 auto;
  padding: 30px 10px;
  border: 3px solid rgb(25, 25, 116);
  border-radius: 8px;
}

.intro {
  width: max-content;
  margin: 0 auto 40px auto;
}

.intro h1 {
  font-size: 44px;
  color: white;
  -webkit-text-stroke: 2px black;
  margin-bottom: 20px;
}

.intro p {
  color: #43414d;
  font-size: 18px;
}

ul {
  list-style: none;
  background-color: #9e9fa6;
  width: 1200px;
  margin: 0 auto;
  padding: 20px 10px;
  border: 2px solid rgb(62, 219, 206);
  border-radius: 8px;
}

li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  text-align: center;
  align-items: center;
  border-bottom: 1px solid #5f5f5f;
}

li p {
  display: inline-block;
  width: 25%;
}

li.head {
  border: 1px solid #5f5f5f;
  border-radius: 6px;
  padding: 10px 0;
}

#form-modal {
  display: none;
}